
.verticalbar{ 
      border-left: 2px solid black; 
      height: 2100px; 
      position:absolute; 
      left: 9%; 
        }
        
  .sidebaroptions {

  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border-right: 
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 120px;
  padding-left: 40px;
}

.sidebaroptions a{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebaroptions img:hover {
  color: #f1f1f1;
  border: 2px solid #3EBCB3;
  border-right: 5px solid #3EBCB3;
}

.horizontalbar{
  background-color: #ffffff;
  padding-top: 1px;
  padding-left: 170px;
  background-color: white;
  box-shadow: 0px 1px #aaaaaa;
  margin-left: 120px;
  padding-top: 10px;
}
.notifications{
  float: right;
}

  .contentstore{
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  margin-left: 160px;
  }

  .bulkorder{
    color: #f1f1f1; 
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    background-color: #F8F8F8; 
    position: absolute;
  }

  
  .text-info{
    font-size: 18px;
  }

  .text{
    color: gray;
  }

  .btn{
              color:#3db5c2;
              border-color:#3db5c2;
          }
          .active,.btn:hover{
              background-color: #3db5c2;
              border-color:#3db5c2;
          }

          .card-deck{
            padding-top: 200px;
            margin-left: 160px;
            padding-left: 160px;
          }

          .card-deck-a{
            padding-top: 180px;
            margin-left: 160px;
            padding-left: 160px;
          }
          .card{
            margin: 0 auto;
            float: none;
          }


  .card-body{
    padding-left: 160px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    margin: 0 auto; /* Added */
     float: none; /* Added */
     margin-bottom: 10px; /* Added */
  }

  .bulkiecard-body{
    /*padding-left: 10px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
*/
      margin-left: 160px;
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
  }

  .card:hover {
  -ms-transform: scale(0.5); /* IE 9 */
  -webkit-transform: scale(0.5); /* Safari 3-8 */
  transform: scale(1.01); 
  }
  .card:hover h3{
   color:#3db5c2;
   }   

   .card-text{
      font-size: 16px;
   }

   .footercontent{
     padding: 10px;
     padding-left: 180px;
    text-align: center;
   }
  
    .row{
      padding-left: 490px;
      text-align: center;
  display: inline-block;
    }
/*
    .leftarrow{
      padding-left: 0px;
      padding-top: 100px;
    }*/